# Servidor
PORT=3000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster0.xxxxx.mongodb.net/mercadolivre-app

# Mercado Livre OAuth 2.0
ML_CLIENT_ID=seu_client_id_aqui
ML_CLIENT_SECRET=seu_client_secret_aqui
ML_REDIRECT_URI=http://localhost:3000/auth/callback

# Frontend (usado no redirect após login)
FRONTEND_URL=http://localhost:4200
